body{
    background-color: chocolate;
}

.title{
    font-size: 40px;
    color: crimson;
}

.logo{
    width: 300px;
}

#principal{
    font-size: 70px;
}

#titulos{
    width: 60vw;
    margin: auto;
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards{
    border: 2px solid black;
    background-color: white;
    width: fit-content;
    margin-top: 10px;
    padding: 0px 1em 1em 1em;
    border-radius: 10%;
    transition: 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards:hover{
    background-color: violet;
}

#cards-container{
 background-color: aqua;
 width: 85vw;
 margin: auto;
 margin-top: 1.5em;
 border: 2px solid rgb(113, 99, 99);
 border-radius: 15px;
 padding: 2em;
 display: flex;
 justify-content: space-evenly;
}

h1,h2,h3 {
    margin: 0;
}