/*Referencia fuentes https://fonts.google.com/*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    /*background-color: blue;*/
}

.container{
    width: 900px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    transition: transfomr .5s;
    /*background-color: brown;*/
}

svg{
    width: 30px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

header .icon-cart{
    position: relative;
}

header .icon-cart span{
    display: flex;
    width: 30px;
    height: 30px;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -20px;
}

.listProduct .item img{
    width: 90%;
    filter: drop-shadow(0 5px 3px rgb(0, 0, 0)); 
}

.listProduct{
    display:  grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.listProduct .item{
    background-color: #eeeee6;
    padding: 20px;
    border-radius: 20px;
}

.listProduct .item h2{
    font-weight: 500;
    font-size: large;
}

.listProduct .item .price{
    letter-spacing: 7px;
    font-size: small;
}

.listProduct .item button{
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;

}

/* Cambiar el color cuando pases el mouse encima del botón */
.listProduct .item button:hover {
    background-color: #ff0000; /* Verde más oscuro */
  }
  
  /* Cambiar el color cuando presiones el botón */
.listProduct .item button:active {
    background-color: white;
    color: black; /* Verde aún más oscuro */
  }

.cartTab{
    width: 400px;
    background-color: #353432;
    color: white;
    position: fixed;
    inset: 0 -400px 0  auto;
    display: grid;
    grid-template-rows: 70px 1fr 50px;
    transition: .5s;
}

body.showCart .cartTab{
    inset: 0 0 0  auto;
}

body.showCart .container{
    transform: translateX(-250px);
}

.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight:300;
}

.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cartTab .pay_total{
    background-color: #535151;
    display: grid;
    height: 50px;
    grid-template-columns: repeat(2, 1fr);
    font-size: 30px;
}

.cartTab .pay_total .izquierda{
    text-align: left;
}

.cartTab .pay_total .derecha{
    text-align: right;
}

.cartTab .btn button{
    background-color: yellow;
    border: none;
    height: 50px;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}

.cartTab .btn .close{
    background-color: rgb(144, 139, 139);
    border: none;
    height: 50px;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}

.cartTab .listCart .item img{
    width: 100%;
}

.cartTab .listCart .item{
    display: grid;
    grid-template-columns: 70px 100px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items:center;
}

.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: rgb(100, 100, 100);
    color: white;
    border-radius: 50%;
    cursor: pointer;
}

.listCart .quantity span:nth-child(2){
    background-color: transparent;
}

.listCart .item:nth-child(even){
    background-color: #eee1;
}

.listCart{
    overflow: auto;
}

.listCart::-webkit-scrollbar{
    width: 0;
}
